@model IEnumerable<LaboratorioDaKarolyne.Models.Cidade>
@{
    ViewBag.Title = "Index";
}

<h3> Cidades </h3>
<hr />
<p>
    @Html.ActionLink(" Criar uma Nova Cidade ", "Novo", null, new { @class = "", })
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.EnumEstado)</th>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.EnumEstado)</td>
                <td>@Html.DisplayFor(i => item.Nome)</td>
                <td>
                    <a href="/Fornecedor/Editar?id=@item.IdCidade" class=" btn btn-warning">Editar</a>
                    <a href="/Fornecedor/Deletar?id=@item.IdCidade" class=" btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
