@model IEnumerable<LaboratorioDaKarolyne.Models.Cidade>
@{
    ViewBag.Title = "Index";
}

<h3> Cidades </h3>
<hr />
<div class="col-md-offset-11">
    <p>        
        @Html.ActionLink(" ", "Novo", null, new { @class = " glyphicon glyphicon-plus btn btn-primary", })
    </p>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>            
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.EnumEstado)</th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>@Html.DisplayFor(i => item.Nome)</td>
                <td>@Html.DisplayFor(i => item.EnumEstado)</td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id=item.IdCidade }, new { @class= "glyphicon glyphicon-pencil btn btn-warning" })
                    @Html.ActionLink(" ", "Excluir", new { id = item.IdCidade }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })                    
                </td>
            </tr>
        }
    </tbody>
</table>
